# CONFIG_ARCH_LEDS is not set
# CONFIG_MMCSD_HAVE_WRITEPROTECT is not set
# CONFIG_STANDARD_SERIAL is not set
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="axoloti"
CONFIG_ARCH_BOARD_AXOLOTI=y
CONFIG_ARCH_CHIP_STM32=y
CONFIG_ARCH_CHIP_STM32F427I=y
CONFIG_BOARD_INITIALIZE=y
CONFIG_BOARD_INITTHREAD=y
CONFIG_BUILTIN=y
CONFIG_DEBUG_DMA=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_FS=y
CONFIG_DEBUG_GPIO=y
CONFIG_DEBUG_MEMCARD=y
CONFIG_FS_FAT=y
CONFIG_GGM_SINOSC=y
CONFIG_MMCSD=y
CONFIG_MMCSD_MULTIBLOCK_DISABLE=y
CONFIG_MMCSD_SDIO=y
CONFIG_MM_REGIONS=2
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_RAMLOG=y
CONFIG_RAMLOG_BUFSIZE=4096
CONFIG_RAMLOG_SYSLOG=y
CONFIG_RAW_BINARY=y
CONFIG_SCHED_HPWORK=y
CONFIG_SDIO_BLOCKSETUP=y
CONFIG_STM32_DMA2=y
CONFIG_STM32_DMACAPABLE=y
CONFIG_STM32_JTAG_FULL_ENABLE=y
CONFIG_STM32_SDIO=y
CONFIG_STM32_USART1=y
CONFIG_STM32_USART6=y
CONFIG_SYSTEM_NSH=y
CONFIG_USART1_SERIAL_CONSOLE=y
CONFIG_USART6_BAUD=31250
CONFIG_USART6_RXBUFSIZE=128
CONFIG_USART6_TXBUFSIZE=32
CONFIG_USER_ENTRYPOINT="nsh_main"
