# CONFIG_ARCH_LEDS is not set
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="axoloti"
CONFIG_ARCH_BOARD_AXOLOTI=y
CONFIG_ARCH_CHIP_STM32=y
CONFIG_ARCH_CHIP_STM32F427I=y
CONFIG_MM_REGIONS=2
CONFIG_RAW_BINARY=y
CONFIG_STM32_JTAG_SW_ENABLE=y
CONFIG_SYSTEM_NSH=y
CONFIG_USER_ENTRYPOINT="nsh_main"
