#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config GGM_SINOSC
	tristate "Sine Wave Oscillator"
	default n
	---help---
		Enable the sine wave oscillator

if GGM_SINOSC

config GGM_SINOSC_PROGNAME
	string "Program name"
	default "sinosc"
	depends on BUILD_LOADABLE
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config GGM_SINOSC_PRIORITY
	int "task priority"
	default 100

config GGM_SINOSC_STACKSIZE
	int "stack size"
	default 2048

endif
